<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- parameters that can be overrided -->
  <arg name="robot_quantity" default="5" />
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <!-- experimental setup of the robots -->
  <arg name="robot_name" default="two_wheel_robot"/>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find swarm_robot_gazebo)/worlds/swarm_robot.world"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <!-- more default parameters can be changed here -->
  </include>

  <!-- parameter server -->
  <!-- all parameters under swarm_sim namespace -->
  <!-- robot_name decide which robot is used in the simulation -->
  <param name="/swarm_sim/robot_name" type="str" value="$(arg robot_name)"/>
  <!-- list all the robot model files here, use the one on robot_name parameter for swarm robot simulation -->
  <param name="/swarm_sim/two_wheel_robot_urdf" type="str" textfile="$(find swarm_robot_description)/urdf/two_wheel_robot.urdf"/>

  <!-- the two wheel robot manager node -->
  <!--node name="two_wheel_robot_manager" pkg="swarm_robot_description" type="two_wheel_robot_manager" ns="swarm_sim" output="log" />  -->

  <!-- the two wheel robot batch adding node -->
  <!--node name="two_wheel_robot_batch_add" pkg="swarm_robot_description" type="two_wheel_robot_batch_add" ns="swarm_sim" output="screen">  -->
    <!--param name="~robot_quantity" type="int" value="$(arg robot_quantity)" />   -->
  <!--/node>  -->

  
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find swarm_robot_description)/urdf/two_wheel_robot.urdf'"/>

  <node name="myrobot_spawn" pkg="gazebo_ros" type="spawn_model" 
   args="-param robot_description -urdf -x 0.0 -y 0.0 -z 0.1 -model two_wheel_robot" respawn="false" output="screen"/>




</launch>
